@import "tailwindcss";


@keyframes rain {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100vh); }
}

.animate-rain {
  animation-name: rain;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
